{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["plugin:@typescript-eslint/recommended","prettier","plugin:@typescript-eslint/recommended","plugin:@prettier/recommended"],
    "parserOptions": {
        "project": "./tsconfig.json"
    }
}